.modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  display: flex;
  flex-direction: column;
  padding-bottom: 10px;
  background: white;
  border-radius: 5px;
  position: relative;
  min-width: 300px;
  max-width: 90%;
}

.shadowed{
  box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);

}

.modal-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: lightgreen;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;

  h2 {
    font-size: 1.2rem;
  }
}

.modal-close {
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;

  &:hover{
    color: white;
  }
}

.modal-subtitle {
  padding: 20px;
  font-size: 1.1rem;
}

.modal-text {
  padding: 10px 20px;
}

.modal-htmlElement{
  padding: 10px 20px;
}
