@use "../../styles/utils/variables" as *;
@use "../../styles/utils/mixins" as *;

.smart-input {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;

  label {
    font-weight: 600;
    font-size:0.6rem;
  }

  input {
    width: 300px;
    padding: 0.5rem 0.8rem;
    background-color: $secondary-color;
    color: $button-text-color;
    font-size:0.8rem;
    border: 1px solid #ccc;
    border-radius: 0.2rem;
    transition: border-color 0.3s ease;

    &:focus {
      border: 2px solid $primary-color;
      outline: none;
      box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.2);
    }

    &::placeholder {
      color: #ccc;
    }
  }

  .error-message {
    color: #e53935;
    font-size: 0.6rem;
  }

  input[aria-invalid="true"] {
    border-color: #e53935;

    &:focus {
      box-shadow: 0 0 0 2px rgba(229, 57, 53, 0.2);
    }
  }
}
